.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        font-family: "Nunito", sans-serif;
        font-size: 1.5rem;
       
    }

    .container_text{
        font-size: 1.2rem;
        text-align: center;
    }
}