.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    
    .container__input{
        width: 100%;
    }

    .container__waistAndColor{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .container__input{
            width: 49%;
        }

        .container__input_waist{
            width: 100%;
        }
    }

}