@import '../../../assets/style/style.scss';

.container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .container__left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 60%;
        gap: 1rem;
        header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: .5rem;

            h3{
                font-family: sans-serif;
            }
        }

        .container__left__content{
            display: flex;
            flex-direction: column;
            gap: .5rem;
            li{
                display: flex;
                gap: .5rem;
                font-family: "Jost", sans-serif;
                a{
                    text-decoration: none;
                    color: $color-three;
                }

                button{
                    border: none;
                    color: $color-three;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }

        .container__left__buttons{
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-left: .5rem;
            gap: .5rem;

            button{
                width: auto;
            }
        }
        .container__left__options{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 45px;
            margin-left: .5rem;
            margin-bottom: .5rem;
            gap: .5rem;

        }
    }

    .container__right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;
    }
}


@media screen and (max-width: 968px){
    .container{
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        .container__left{
            width: 100%;
        }
    
        .container__right{
            width: 100%;
        }
    }
}