@import '../../../../assets/style/style.scss';

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 63%;
    height: 100%;
    
    .container__list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 19%;
        overflow-y: auto;
        gap: 1rem;
        // background-color: $color-secondary;

        li{
            list-style: none;
            width: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0 0;
                cursor: pointer;
            }
        }

        &::-webkit-scrollbar{
            width: 8px;
        }
        &::-webkit-scrollbar-track{
            background: $color-secondary;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            background: rgb(200, 200, 200);
        }
    }

    .container__viewImage{
        width: 100%;
        height: 80%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 0;
        }

        .zoomed {
            transform: scale(1.5); /* Ajusta el nivel de zoom según tu preferencia */
            transition: transform 0.3s ease-in-out; /* Agrega una transición suave al zoom */
            outline: 1px solid red;
          }
    }
}

