.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    overflow-y: auto;
    
    .container__card{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        img{
            width: 23%;
            height: 100px;
            object-fit: cover;
            object-position: 0 0;
            border-radius: 5px;
        }
        .container__card__content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 1rem;
            gap: .5rem;
            width: 77%;

            h4{
                font-size: 1rem;
                font-family: "Nunito", sans-serif;
            }
            .container__card__content__price{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
            }

            .container__card__content__features{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
                p{
                    &:nth-child(2){

                        b{
                            padding: 2px 10px;
                            margin-left: .5rem;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}